{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <div class="md" data-src="ressources/reseau/assets/markdown/http.md">
    </div>    
</div>
<!--
<div class="cours">
    <h2> La couche applicative : exemple du protocole HTTP. </h2>
    <h3> Introduction </h3>
    <p>
        Le protocole HTTP (Hyper Text Transfert Protocol) est le protocole qui permet 
        de faire des requêtes entre un client et un serveur web. C'est le protocole sur lequel
        repose le World Wide Web (appelé plus communémement le web)
    </p>
    <h4> Bref historique</h4>
    <p>
        C'est dans le cadre de son travail sur la documentation interne du CERN que Tim Berners-Lee
        invente à la fois le langage HTML, la notion d'adresse Web (les URL) et le protocole HTTP.
    </p>
    <ul>
        <li>En mai 1996, la première version officielle de HTTP, HTTP/1.0 voit le jour et est décrite
            par la <a href="https://datatracker.ietf.org/doc/html/rfc1945" target="_blank"> RFC 1945 </a>
        </li>
        <li>En janvier 1997, HTTP/1.1 devient finalement standard de l'IETF (internet Engineering Task Force). 
            Il est décrit dans la 
            <a href="https://datatracker.ietf.org/doc/html/rfc2068" target="_blank">RFC 2068</a> de l'IETF, 
            puis dans la 
            <a href="https://datatracker.ietf.org/doc/html/rfc2616" target="_blank">RFC 2616</a> en juin 1999. 
        </li>
        <li>
            En février 2014, la spécification de HTTP/1.1 a été republiée. 
            Elle a été éclatée en plusieurs RFC et corrigée pour toutes ses imprécisions, RFC 72304 à RFC 7237
        </li>
        <li> 
            En février 2015, l'IETF approuve les 
            <a href="https://httpwg.github.io/specs/rfc7540.html" target="_blank">RFC 7540</a> et 7541 qui constituent 
            le protocole HTTP/2. Cette version 2 du protocole permet d'utiliser la compression, le multiplexage et la 
            priorisation, tout en maintenant essentiellement la compatibilité avec HTTP/1.1.

        </li>
    </ul>
</div>
-->
{% endblock %}