{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Le modèle en couches </h2>
    <p>
        Les infrastructures réseaux se développant de plus en plus, un processus de normalisation a été
        mis en œuvre. Des modèles sont apparus dans lequel on a essayé de faire rentrer l'existant.
        On va présenter ici deux modèles, qui sont les plus courant : le modèle historique, que l'on appelle
        modèle internet ou modèle TCP/IP d'une part, et le modèle OSI.
    </p>
    <h3> Le contexte </h3>
    <p>
        Pour bien voir comment fonctionne le réseau internet, on va détailler sur un exemple les différentes
        étapes du processus qui se passent pour l'un des services particulier d'internet, parmi les plus
        courant : le web. Pour rappel, le web, c'est l'ensemble des pages internet qui sont reliées les unes aux
        autres,
        déposées sur des serveurs webs, et où l'on évolue en suivant des liens web, aussi appelés lien
        hypertexte.
    </p>
    <p>
        Un utilisateur veut consulter un site web pour avoir une information. Il ouvre son navigateur, et tape dans
        la barre d'adresse l'adresse de ce site web. Par exemple, l'adresse de cette page :
        <a href="https://lycee.educinfo.org/index.php?activite=reseau&page=reseau_couches">
            https://lycee.educinfo.org/index.php?activite=reseau&page=reseau_couches</a>.
        Que se passe t'il ensuite ? Nous allons détailler le parcours de cette requête.
    </p>
</div>
<div class="cours">
    <h3> Le modèle Internet</h3>
    <p>
        Le modèle internet est découpé en quatre couches. Ces couches, pour des raisons historiques, ne sont pas
        parfaitement étanches. Les nécessités de l'implémentation on eu un impact sur l'écritures des protocoles.
    </p>
    <h4> La couche application </h4>
    <p>
        Sur internet, les applications sont multiples : il y a le web, bien entendu, mais aussi le mail, les
        applications de messagerie instantanée, SSH, FTP, etc. Chacune de ces applications utilise un protocole
        spécifique qui permet l'échange des données. C'est l'application qui est en charge de la gestion de ce
        protocole. Au niveau d'internet, le fait que les données qui circulent concerne un serveur web,
        ou de courrier, ou de la vidéo à la demande, n'a aucune importance. Les équipements du réseau ne sont pas
        concernés par cela.
    </p>
    <p>
        Dans notre exemple, nous utilisons avec un navigateur web. Celui ci va décomposer l'adresse et
        en extraira les informations suivantes :
    </p>
    <ul>
        <li> Le protocole utilisé est le http, ce qui signifie que l'on veut atteindre un serveur web avec
            la version non sécurisée du protocole
        </li>
        <li>
            L'adresse du serveur que l'on veut utiliser est <code>nsi.educinfo.org</code>.
        </li>
        <li>
            Sur ce serveur web, le chemin de la page demandé est <code>index.php</code>.
        </li>
        <li>
            la requête est de type <code>GET</code>.
        </li>
        <li>
            deux paramètres sont passés dans cette requête :
            <ul>
                <li><code>theme</code> qui a pour valeur <code>reseau</code>.</li>
                <li><code>page</code> qui a pour valeur <code>couches</code>.</li>
            </ul>
        </li>
    </ul>
    <p>
        Ces informations et tout un tas d'autre informations (les versions de protocole HTTP supportées,
        un certain nombre de valeur de cookies,
        le système d'exploitation, le navigateur utilisé avec sa version, etc.)
        constituent les données de la requête HTTP. Ces données sont structurées d'une façon bien particulière
        qui est définie dans diverses RFC (
        <a href="https://tools.ietf.org/html/rfc1945" target="_blank"> RFC 1945</a> pour la version 1.0,
        <a href="https://tools.ietf.org/html/rfc2616" target="_blank"> RFC 2616</a> pour la version 1.1,
        corrigée par les RFC 7230 à 7237)
    </p>
    <p>
        Cette requête HTTP va constituer les données que nous allons envoyer sur le réseau. Le navigateur
        construit la requête et passe ensuite les données à la couche réseau de la machine.
    </p>
    <h4>
        La couche de transport (TCP ou UDP)
    </h4>
    <p>
        La couche de transport peut être, suivant les services la couche TCP ou la couche UDP. On parle
        aussi de mode connecté (TCP) et de mode déconnecté (UDP). Le rôle du protocole de transport
        est le suivant :
    </p>
    <ul>
        <li>
            Il découpe les données en paquets dont la taille dépend de la couche de liaison de données
            sous-jacente.
        </li>
        <li>
            TCP comme UDP ajoute aux données un en-tête. En particulier, on trouve un port source et un
            port de destination. Les ports sont utilisés par ce qu'une même machine peut héberger plusieurs
            services (le web, le web sécurisé, le mail, le FTP, un service SSH,etc.). Tout ces
            services sont sur la même adresse IP. Ce qui les distingue, c'est le numéro de port TCP. On
            peut, par analogie, considérer que si l'adresse IP correspond à l'adresse postale d'un immeuble de
            bureau, le numéro de port correspondrait au numéro du bureau concerné dans cet immeuble. Un service
            écoute sur un port donné et il existe des ports standard en réception (par exemple 80 pour http,
            443 pour https, 25 pour smtp, 22 pour ssh). Le port de destination indique le service. Le port source
            est libre, et permet de distinguer différentes applications sur une machine,
            ou différents utilisateurs. Il permet aussi de gérer le NAT.
        </li>
        <li>
            En plus de ces informations, TCP ajoute un ensemble de données qui permettent de vérifier l'intégrité
            des données et de rassembler les paquets dans le bon ordre à l'arrivée. UDP est beaucoup plus laxiste
            sur ce sujet. C'est un protocole destiné essentiellement à des transmissions de faible taille sur un
            réseau local.
        </li>
    </ul>
    <p>
        Une fois ces opérations effectuées, la couche TCP (ou UDP) transfère le message à la couche IP
    </p>
    <h4> La couche IP </h4>
    <p>
        La couche IP elle même est chargée de la transmission des paquets fournis par TCP sur le réseau.
        Cette couche va rajouter des données au paquet, en particulier l'IP source et l'IP destination.
        Le protocole IP est chargé du routage. Il doit déterminer le chemin à prendre pour envoyer les
        paquets vers l'adresse de destination. Nous verrons cela en détail un peu plus tard.
    </p>
    <p>
        Une fois l'en-tête ajouté au message TCP, le paquet de donné obtenu porte le nom de datagramme IP.
    </p>
    <p>
        Lorsque la couche IP a déterminé sur quelle interface réseau elle doit envoyer les données, elle
        passe le datagramme à la couche suivante, la couche liaison.
    </p>
    <h4>La couche liaison</h4>
    <p>
        La couche liaison présente deux parties. Suivant le protocole, des données vont être ajoutées
        au datagramme IP. Dans le cadre d'un réseau ethernet par exemple, l'adresse MAC de la source et l'adresse
        MAC de la destination sont ajoutées, avec d'autres données.
    </p>
    <p>
        Une fois que cet en-tête a été ajouté au datagramme IP, on parle de trame réseau.
    </p>
    <p>
        Puis, au niveau matériel, la trame réseau est convertie en signal qui va être envoyés vers la destination.
        Notez bien que le médium utilisé peut être très varié. On notera en particulier la proposition humoristique,
        faite pour un poisson d'avril de faire de l'IP par ... pigeons voyageurs ! Cette proposition a d'ailleurs
        <a href="https://www.cnet.com/news/pigeon-powered-internet-takes-flight/" target="_blank"> été mise
            en œuvre (en anglais) </a> par un groupe d'utilisateur linux de Bergen en Norvège en 2001 !
    </p>
    <h4>
        En résumé
    </h4>
    <p>
        Lorsque vous utilisez une application réseau, les données pour pouvoir être dirigé vers le serveur
        distant vont passer à travers 4 étapes successives :
    </p>
    <ul>
        <li>
            Le formatage des données au niveau applicatif avec l'ajout de données propres au protocole applicatif
        </li>
        <li>
            Les données passent ensuite à la couche transport qui découpent les données en paquet et ajoutent un
            en-tête propre à la couche transport (TCP ou UDP)
        </li>
        <li>
            Ce paquet est transmis à la couche réseau, la couche IP qui détermine le périphérique à
            utiliser et rajoute un en-tête spécifique, transformant le paquet en datagramme IP
        </li>
        <li>
            Enfin, le datagramme IP est passé à la couche réseau qui ajoute les informations liées au matériel,
            transformant le datagramme IP en trame réseau. Ce sont les données de cette trame qui sont véhiculées
            par le signal physique (courant dans le cuivre, ondes radios en wifi ou 5G, lumière dans une fibre
            optique, voire papier sur un pigeon voyageur)
        </li>
    </ul>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" src="ressources/reseau/assets/img/TCP-IP-1.png">
            <figcaption class="figure-caption"> Envoi d'une requête HTTP </figcaption>
        </figure>
    </div>
</div>
<div class="cours">
    <h3>
        Et à l'arrivée ?
    </h3>
    <p>
        Que se passe t'il quand ces données atteignent le serveur ? Le processus s'effectue dans le sens inverse :
    </p>
    <ul>
        <li>
            La couche liaison désencapsule la trame réseau et passe le datagramme à la couche IP
        </li>
        <li>
            La couche IP désencapsule le datagramme et passe le paquet à la couche transport (TCP/UDP)
        </li>
        <li>
            La couche transport ré-assemble les paquets et éventuellement (TCP), contrôle l'intégrité de
            la transmission
        </li>
        <li>
            La couche applicative lit l'en-tête puis interpréte les données qui lui sont destinées.
        </li>
    </ul>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" src="ressources/reseau/assets/img/TCP-IP-2.png">
            <figcaption class="figure-caption"> Envoi et réception d'une requête HTTP </figcaption>
        </figure>
    </div>
    <p>
        Dans le cas, de notre exemple, le serveur web apache va construire la page de réponse à la requête,
        puis il enverra par le réseau la page de réponse à la machine cliente qui a émis la requête.
    </p>
</div>
<div class="cours">
    <h3> Le modèle OSI</h3>
    <p>
        Le modèle précédent en 4 couches, appelé modèle internet ou modèle TCP-IP est un modèle historique.
        C'est plus un modèle qui représente une réalité qu'un modèle théorique. À contrario, le modèle OSI
        (Open System Interconnexion) est un modèle théorique qui a pour vocation de fabriquer une norme afin de
        certifier des technologie et des infrastructures.
    </p>
    <p>
        Le modèle OSI est un modèle en 7 couches. Ces couches sont sensées être étanches. On peut essayer de
        regrouper les couches OSI pour les faire rentrer dans les couches du modèle internet.
    </p>
    <p>
        La couche supérieur applicative du modèle internet est découpée en 3 couches :
    </p>
    <ul>
        <li>
            La couche application est le point d'entrée aux services réseaux.
        </li>
        <li>
            La couche présentation est en charge de la conversion et du chiffrement
            des données
        </li>
        <li>
            la couche session est chargée de gérer les sessions
        </li>
    </ul>
    <p>
        La partie liaison du modèle internet est décomposée en deux sous-parties :
    </p>
    <ul>
        <li>
            La partie liaison chargée de l'adressage physique
        </li>
        <li>
            Et la partie physique chargé de la transmission binaire numérique ou analogique.
        </li>
    </ul>
    <figure class="figure">
        <table class="table table-striped table-bordered align-middle text-center">
            <thead>
                <tr>
                    <th>
                        N° OSI
                    </th>
                    <th>
                        Couche OSI
                    </th>
                    <th>
                        N° Internet
                    </th>
                    <th>
                        Modèle internet
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 7 </td>
                    <td> Application </td>
                    <td rowspan="3"> 4 </td>
                    <td rowspan="3"> Application </td>
                </tr>
                <tr>
                    <td> 6 </td>
                    <td> Présentation </td>


                </tr>
                <tr>
                    <td> 5 </td>
                    <td> Session </td>


                </tr>
                <tr>
                    <td> 4 </td>
                    <td> Transport </td>
                    <td> 3 </td>
                    <td> Transport </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Réseau </td>
                    <td> 3 </td>
                    <td> Réseau </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> Liaison </td>
                    <td rowspan="2">1</td>
                    <td rowspan="2">Liaison</td>
                </tr>
                <tr>
                    <td> 1 </td>
                    <td> Physique </td>
                </tr>
            </tbody>
        </table>
        <figcaption class="figure-caption"> Correspondance entre les modèles OSI et Internet</figcaption>
    </figure>
    <p>
        S'il y a bien une correspondance grossière entre les protocoles de la pile IP et les couches du modèle, on
        ne peut pas considérer que la pile IP soit vraiment compatible avec le modèle OSI. En particulier, la
        séparation des couches dans la pile IP est nettement plus approximative.
    </p>
</div>
<div class="cours">
    <h3>
        Conclusion
    </h3>
    <div class="retenir">
        <h6> À retenir </h6>
        <ul>
            <li>
                La communication sur un réseau peut être décomposé en couches
            </li>
            <li>
                Le modèle historique contient 4 couches, le modèle OSI 7 couches
            </li>
            <li>
                Les 4 couches du modèle internet sont :
                <ul>
                    <li> Application </li>
                    <li> Transport </li>
                    <li> Réseau </li>
                    <li> Liaison </li>
                </ul>
            </li>
            <li>
                Lorsque l'on descend dans les couches, à l'émission, chaque couche encapsule
                les données en ajoutant un en-tête.
            </li>
            <li>
                Lorsque l'on remonte les couches, à la réception, chaque couche extrait les données
                en supprimant l'en-tête.
            </li>
        </ul>
        <div class="d-flex">
            <figure class="figure mx-auto">
                <img class="figure-img img-fluid img-rounded img-thumbnail"
                    src="ressources/reseau/assets/img/TCP-IP-2.png">
                <figcaption class="figure-caption"> Envoi et réception d'une requête HTTP </figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}