{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Le DNS , l'annuaire d'internet </h2>
    <p>
        Nous avons parlé du protocole qui permet aux ordinateurs de communiquer en permettant aux paquets de trouver
        leur chemin sur les réseaux. L'intégrité de la transmission est potentiellement prise en charge par la
        couche de transport et le protocole TCP. Mais lorsque nous faisons des requêtes sur internet, nous
        n'utilisons que très rarement ces adresses IP. Les ordinateurs les utilisent entre eux. Alors comment
        retrouver l'adresse IP d'une machine sur internet ?
    </p>
    <h3>
        Avant internet
    </h3>
    <p>
        Je vous parle d'un temps que les moins de vingt ans ne peuvent pas connaître. Il y a eu une époque avant
        internet. Internet n'existait pas. Je ne veux pas parler de la préhistoire, ni du moyen age. Non, une époque
        ou l'on roulait déjà à 130km/h sur les autoroutes, où l'on avait la télévision couleur et on envoyait des
        satellites dans l'espace.
    </p>
    <p>
        Le moyen de communication qui a relié les hommes durant l'essentiel du XX<sup>ème</sup> Siècle a été le
        téléphone. Il y a eu toute une culture autour du téléphone, comme en témoigne de très nombreuses chansons (
        que ce soit la chanson de Claude François "le téléphone pleure", celle de
        Stevie Wonder "I just call to say I love you", ou <a href='#' class="youtube" data-video-id="Za3t-y3ThxM"
            data-bs-target="#videoModal" data-bs-toggle="modal" data-video-title="Bénabar - Adolescente">la chanson
            "adolescente" de Bénabar</a> qui a perdu un peu de son sens depuis les téléphones portables )
    </p>
    <p>
        Pour contacter une personne par téléphone, à l'époque comme aujourd'hui, il fallait connaitre son numéro de
        téléphone. Chaque personne connaissait bien quelques numéros par coeur. On possédait souvent aussi un
        "répertoire" dans lequel on notait les numéro de téléphone de la famille et des proches. Si l'on ne
        disposait pas du numéro et que l'on recherchait le numéro d'une personne dans le même département que nous,
        il fallait utiliser l'annuaire téléphonique du département, qui était distribué gratuitement à tous les
        abonnés. Les fameuses "pages blanches". Et enfin, si la personne se trouvait hors du département, on
        appelait le 12, le service des renseignements téléphoniques, qui existait depuis 1938 en France et a perduré
        jusqu'en 2002.
    </p>
</div>
<div class="cours">
    <h3>
        Internet
    </h3>
    <h4>L'annuaire d'internet</h4>
    <p>
        Il y a une grande analogie avec ce qui se passe pour internet. De même que pour une personne on connait le
        nom, le prénom et à minima la ville, on connait un site web par son nom. Prenons l'exemple du site que vous
        êtes en train de consulter actuellement. Dans la barre d'adresse, le nom du site est
        <code>lycee.educinfo.org</code>. Lorsque vous allez communiquer avec ce site, pour que le transport
        d'information puisse se faire, il vous faut son adresse IP. Celle ci est <code>82.223.81.111</code>. Mais
        comment est faite la correspondance ?
    </p>
    <p>
        Nous, humains, comprenons et mémorisons des adresses grâce à des noms de domaine. Les machines utilisent des
        adresses IP numériques qui n'ont que peu de sens pour nous la plupart du temps. La correspondance entre les
        deux est assurée par un système qui s'appelle le <b>DNS</b> (Domain Name System en anglais, le système de
        nom de domaines). Ce système est apparu alors qu'internet commençait à s'étendre, en 1985. C'est un service
        qui est distribué, c'est à dire réparti sur un ensemble de machines. On peut dire que le DNS est l'annuaire
        d'internet.
    </p>
    <h4>Hiérarchique</h4>
    <p>
        Le DNS est un système hiérarchique. Un nom de domaine est constitué
        d'une liste successive de domaines et sous domaines séparés par des points. Par exemple, le nom de domaine
        <code> fr.wikipedia.org </code> va correspondre au serveur <code>fr</code> du domaine
        <code>.wikipedia</code>
        qui est un sous-domaine du domaine <code>.org</code>. La hiérarchie peut descendre sur plusieurs niveaux.
    </p>
    <p>
        Au sommet de la hiérarchie se trouve la racine. Cette racine est représentée par un point et elle n'apparait
        pas dans les noms de domaine. Les domaines juste au dessous de la racine sont appelés les TLD (Top Level
        Domain). Au départ, il y en avait assez peu : un pour chaque pays (<code>.fr</code> pour la France,
        <code>.it</code> pour l'Italie, etc.), et un certain nombre destinés à des utilisations particulières :
    </p>
    <ul>
        <li><code>.com</code> pour les entités commerciales</li>
        <li><code>.net</code> pour les réseaux au sens large </li>
        <li><code>.org</code> pour les organisations non gouvernementales </li>
    </ul>
</div>
<div class="remarque">
    <h6> Remarque </h6>
    <p>
        En 2014, l'ICANN, l'autorité de régulation des noms de domaine dans le monde, autorise la création de
        nouveau TLD, plus exotiques, comme <code>.biz</code> pour le business, <code>.video</code>, ou encore
        <code>.game</code>. Ces nouvelles extensions permettent de diversifier grandement l'offre de noms de
        domaines.
    </p>
</div>
<div class="cours">
    <h4>
        Distribué
    </h4>
    <p>
        Le DNS est aussi un système distribué. Un serveur DNS peut donner une délégation à un autre serveur pour
        gérer l'annuaire DNS correspondant à un sous-domaine. Prenons par exemple le cas de
        <code>fr.wikipedia.org</code>. Si une personne demande cette adresse à partir du site
        <code>monlycee.fr</code>, il va émettre une requête DNS vers un serveur DNS. Celui ci étant dans la
        hiérarchie <code>.fr</code>, il ne peut pas répondre immédiatement à cette requête. Ce serveur DNS va lui
        même effectuer une requête vers les serveurs racine pour avoir cette adresse. En pratique, les serveurs
        racines ne connaissent pas l'adresse de ce site. Par contre, il répondent au DNS initial que le domaine
        <code>.org</code> est géré par un serveur DNS spécifique dont ils transmettent l'adresse.
    </p>
    <p>
        Ce serveur pourrait contenir l'adresse du serveur <code>fr.wikipedia.org</code>. Il est cependant
        fort probable que le domaine <code>.wikipedia.org</code> soit géré par wikipedia. Le serveur du domaine
        <code>.org</code> va donc répondre que le domaine <code>.wikipedia.org</code> est délégué. Si l'on recherche
        l'information, on va trouver que le domaine <code>.wikipedia.org</code> est géré par 3 serveurs DNS :
    </p>
    <ul>
        <li>
            ns0.wikimedia.org
        </li>
        <li>
            ns1.wikimedia.org
        </li>
        <li>
            ns2.wikimedia.org
        </li>
    </ul>
    <p>
        Les adresses de ces serveurs sont transmises par le serveur DNS qui gère le domaine <code>.org</code>. À
        partir de l'un de ces serveurs, la machine initiale pourra recevoir la réponse et obtenir l'adresse IP
        du serveur <code>fr.wikipedia.org</code>
    </p>
</div>
<div class="exemple">
    <h6>Exemple</h6>
    <p>
        Voici l'intégralité du processus décrit ci dessus illustré en exemple
    </p>
    <div class="d-flex align-items-center">
        <img class="mx-auto img-fluid img-rounded img-thumbnail" src="ressources/reseau/assets/img/DNS.png">
    </div>
</div>
<div class="cours">
    <h4>Reverse DNS</h4>
    <p>
        Le DNS est l'annuaire qui permet, à partir d'un nom de domaine d'obtenir une adresse IP. De même que pour
        l'annuaire téléphonique, il existe un annuaire inversé qui permet d'obtenir le nom du titulaire à partir
        du numéro, les serveurs DNS font aussi la fonction de reverse DNS qui permet d'obtenir, à partir d'une
        adresse
        IP, un nom de machine.
    </p>
</div>
<div class="attention">
    <h6>Attention ! </h6>
    <p>
        Lorsque l'on obtient un nom de machine à partir d'un DNS inverse, c'est <b>un</b> des noms possibles
        qui correspond à une adresse IP. En effet, un serveur, pour une même adresse IP, peut avoir plusieurs
        noms différents. C'est même une pratique très courante pour la plupart des serveurs web.
    </p>
</div>
<div class="retenir">
    <h6> À retenir</h6>
    <ul>
        <li>
            Le DNS est le système qui permet d'associer une adresse IP à partir d'un nom de domaine
        </li>
        <li>
            C'est un système hiérarchique.
        </li>
        <li>
            C'est un système distribué grâce au mécanisme de délégation
        </li>
        <li>
            Le système permet aussi d'associer, grâce au reverse DNS, un nom de domaine
            à partir d'une adresse IP. Cependant, c'est le nom principal qui est associé.
        </li>
    </ul>
</div>
{%endblock%}