{% extends 'cours.twig.html' %}
{% set has_flashcards = true %}

{% block cours %}
<div class="cours">
    <div class="md" data-src="ressources/reseau/assets/markdown/exercices_ip.md">
    </div>    
</div>
{% endblock %}