{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Une brève histoire des réseaux </h2>
    <h3> Les prémices</h3>
    <h4> Le télégraphe Chappe </h4>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:60vh;"
                src="ressources/reseau/assets/img/telegraphe_chappe.jpg">
            <figcaption class="figure-caption"> Tour de télégraphe CHAPPE </figcaption>
        </figure>
    </div>
    <p>
        Au XVIIIème Siècle,
        le premier moyen de communiquer des messages sur longue distance est
        le système de sémaphores de Claude CHAPPE. Au moyen de bras articulés pouvant
        prendre différentes positions, on peut transmettre des messages sur de longue distance.
        Par temps clair, il faut 9 minutes pour transmettre un message sur les 153 kilomètres qui
        séparent Paris et Lille, au moyen de 15 stations relais. La ligne Paris Lille est opérationnelle
        dès 1794. En 1844, à son apogée, 534 tours quadrillent le territoire, reliant les plus grandes agglomération
        sur plus de 5000km.
    </p>
    <div class="clearfix"></div>
    <h4> Le télégraphe électrique </h4>
    <p>
        C'est en 1840 que Samuel MORSE pose le brevet du code Morse. C'est ce qui manquait pour rendre
        opérationnel le télégraphe électrique qui balbutiait depuis plusieurs années. Grâce au code de Morse, on
        peut transmettre quasi instantanément des messages sur de très longues distances. En 1845,
        la première ligne française de télégraphe électrique est installé entre Paris et Rouen et sonne
        le glas pour le télégraphe Chappe. En 1846, la ligne historique Paris Lille de télégraphie Chappe
        est remplacé par une ligne de télégraphe électrique.
        En 1866, le télégraphe traverse l'Atlantique après deux essais ratés à la fin des années 1850.
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:40vh;"
                src="ressources/reseau/assets/img/International_Morse_Code-fr.gif">
            <figcaption class="figure-caption"> Code morse international</figcaption>
        </figure>
    </div>
    <p>
        Au début du XXème siècle, après l'ére du télégraphe électrique, apparaît le téléscripteur (plus connu sous
        le nom de
        telex). Basé sur le code Baudot, du nom de son inventeur Émile Baudot, il permet d'envoyer
        des messages à la vitesse de 60 à 133 mots pas minutes. La course a la vitesse a commencé !
    </p>
    <div class="clearfix"></div>
</div>
<div class="cours">
    <h3> Premiers réseaux informatique (des années 50 aux années 70) </h3>
    <p>
        Si les ordinateurs apparaissent dans les années 1940, ils commencent à communiquer entre eux
        à la fin des années 1950
    </p>
    <p>
        La base théorique revient à Claude Shannon qui jette les bases de la théorie de l'information dans sa
        publication
        sur la Théorie Mathématique des Communications en 1948. Il met en équation les compromis entre puissance du
        signal,
        largeur de spectre utilisé par le signal et quantité d’information qui peut être transmise. Il promeut
        l’utilisation du mot bit pour désigner l’unité atomique d’information : 1 ou 0, vrai ou faux, oui ou non,
        etc.
    </p>
    <p>
        À la fin des années 1950, IBM fabrique les premiers modems (modulateur - démodulateur) pour l'armée de l'air
        dans le cadre du réseau SAGE. Le modem permet de transformet un signal numérique (composé de 0 et de 1)
        en signal analogique (du son) pour le transporter sur le réseau téléphonique.
    </p>
    <p>
        Quelques années plus tard, le systême est vendu à American Airlines qui l'utilise pour connecter des
        terminaux
        de paiement à un serveur central qui gère la disponibilité des places.
    </p>
    <p>
        Le modèle du réseau en terme de noeuds reliés par des liens apparaît dans la théorie probabiliste des files
        d'attente et en 1961, Léonard KLEINROCK identifie un point clé pour appliquer ces théories : le concept de
        routeur, soit un noeud capable de stocker un message en attendant que le lien où il doit être transmis se
        libère. Cette idée est novatrice à une époque où les principaux réseaux sont téléphoniques, et l'idée de
        stocker un paquet n'est pas envisageable.
    </p>
</div>
<div class="cours">
    <h3>d'ARPANET aux débuts d'internet (fin des années 70 aux années 90)</h3>
    <p>
        Après les années 60, tout s'accélère. Les progrès technologique vont de pair avec les avancées théorique et
        la normalisation.
    </p>
    <p>
        En mai 1973, le cable ethernet est inventé et permet, avec les switch de faire des réseaux beaucoup plus
        rapides. En novembre 1977, le premier réseau à commutation de paquet est expérimenté.
        Il s'agit de ARPANET qui relie alors 4 centres de recherche universitaires. Il utilise le protocole NCP.
        Bob KAHN et Vinton CERF pose les bases des protocoles TCP et IP et publie la première version en 1973.
        Le protocole IP, qui signifie "Internet Protocol" est conçu pour pouvoir connecter entre eux différents
        réseaux.
        Internet vient réellement au monde en 1983 quand ARPANET est relié à d'autre réseaux et bascule
        définitivement
        sur les protocoles TCP et IP.
    </p>
    <p>
        Très rapidement, les débits proposés par les connection et la simplicité d'utilisation vont croître.
        En 1977, à Chicago, le premier réseau de téléphonie qui utilise la fibre optique apparaît.
        En 1981, le premier modem acoustique qui utilise un combiné téléphonique standard est inventé.
        À cette époque, Internet est encore réservé à des institutions et des entreprises. Les particuliers qui
        y accédent sont très minoritaires.
    </p>
    <p>
        C'est en 1994 qu'apparaissent les premiers accès grand public à internet en France. La majorité
        des personnes utilisent des modems 14.4kb/s. Mais c'est en 1995 que la révolution a lieu, grâce
        d'une part à windows 95 qui facilite grandement l'utilisation des modems et d'autre part aux
        modem 56kb/s qui apparaissent alors.
    </p>
    <p>
        Dès 1988, le brevet de l'ADSL est déposé, mais il faudra attendre 1999 pour que France Telecom
        Interactive déploie les premières lignes ADSL en France. Peu avant, en 1997, le Wi-Fi apparaît
        et sert essentiellement pour les ordinateurs portables.
    </p>
    <p>
        La grande révolution a lieu au début des années 2000 avec deux évènements. En 2002, Free Telecom
        propose sa première freebox ADSL. C'est la première box multiservice avec télévision et téléphonie
        par internet. Internet tel qu'on le connait aujourd'hui est lancé ! Parallèlement, en
        2003, le premier réseau fibre optique de France en FTTH à Pau. Le trés haut débit est en marche.
    </p>
</div>
<div class="cours">
    <h3> La révolution mobile (des années 90 à nos jours)</h3>
    <img class="img-fluid img-rounded img-thumbnail mx-auto float-md-end m-md-3" style="max-height:70vh;"
        src="ressources/reseau/assets/img/iphone2.jpg">
    <p>
        Une seconde révolution technologique a fait évoluer et grandir l'interconnection et internet :
        la révolution mobile. Dès les années 70, on voit apparaître les premiers réseaux de téléphonie mobile.
        Mais les terminaux sont très encombrants. On les trouve surtout dans les automobiles de luxe. Le réseau
        est analogique.
    </p>
    <p>
        Dans les années 90, la 2G apparaît. La téléphonie est maintenant numérique et peut transporter des données.
        Le débit cependant n'est que de 9.6kb/s. Dans la transition vers la 3G, le protocole 2G sera amendé et
        donnera les protocoles GPRS (48kb/s) et Edge (100kb/s). Souvent, les téléphones mobiles servent de modem
        à des personnes utilisant des ordinateurs portables en déplacement.
    </p>
    <p> C'est dans les années 2000 qu'arrive la 3G, avec des débits de 2mb/s. On arrive donc à des débits
        théoriques qui sont voisins de ceux qu'un particulier peut avoir chez lui avec de l'ADSL première
        génération.
        Le protocole H+, une variante de la 3G, permet même 5Mb/s.
    </p>
    <p>
        C'est en juin 2007 que la révolution mobile commence vraiment avec la mise en vente du premier smartphone
        tactile : l'iPhone d'Apple. Ce premier iPhone fonctionne en 2G avec le protocole Edge, mais il est
        remplacé dès juin 2008 par l'iPhone 3G qui comme son nom l'indique est en 3G. L'internet mobile
        est vraiment lancé.
    </p>
    <p>
        C'est dans les années 2010 que la 4G s'imposera, avec des débits théoriques moyen de 150mb/s. En 2019, le
        déploiement de la 5G qui permet d'atteindre des débits théoriques de 10Gb/s est lancé. La question de son
        utilité, par rapport aux investissement nécessaires, se pose dans de nombreux pays.
    </p>
</div>
{% endblock %}