{% extends 'cours.twig.html' %}
{% block cours %}
<div class="cours">
    <h2>
        Les réseaux
    </h2>

    <p>
        La notion de réseau n'est pas une notion strictement informatique. Les réseaux ont toujours
        existé. Il suffit de penser au réseau hydrographique, puis au réseau routier. On peut aussi penser
        au réseau commercial. La particularité des réseaux informatique est d'avoir su pénétrer la plus grande
        partie de notre quotidien, de s'être rendu omniprésent, grâce à leur flexibilité et leur interconnexion.
    </p>
    <p>
        Aujourd'hui, les réseaux informatiques sont devenus indispensable dans nos sociétés occidentales pour
        le fonctionnement de notre quotidien.
    </p>
</div>
{% endblock %}