{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Couche liaison : l'exemple d'Ethernet</h2>
    <p> Le protocole ethernet est un protocole qui comprend à la fois une partie de la couche liaison et de la
        couche physique. Sa grande flexibilité et son adaptation au fur et à mesure des évolutions technologique
        en ont fait le protocole le plus utilisé sur internet. C'est aussi sur une variante d'ethernet que repose
        le wi-fi.
    </p>
    <h3>Historique</h3>
    <p>
        Ethernet a été développé comme l'un des projets pionnier du Xerox Parc. C'est Robert METCALFE qui rédige en
        1973 une note sur le potentiel d'ethernet à l'intention des dirigeants. En 1975, avec David BOGGS, son
        assistant, ils publient un article intitulé <em>Ethernet: Distributed Packet Switching For Local Computer
            Networks</em> (Ethernet : commutation de paquets distribuée pour les réseaux informatiques locaux). En
        1979, METCALFE quitte Xerox et fonde l'entreprise 3Com qui promeut l'usage des réseaux locaux. Il parvient à
        convaincre DEC, Intel et Xerox de travailler ensemble pour promouvoir Ethernet en tant que standard. La
        norme Ethernet I est publie en 1980, suivie de la norme internet II en 1982. La norme IEEE 802.3 publiée en
        1983 s'inspire de cette norme. Le succès d'Ethernet a fait de 3COM une compagnie majeure dans le domaine des
        réseaux informatiques.
    </p>
    <p>
        La famille des normes ISO 802.x sont issus de groupe de travail complémentaires qui gérent l'ensemble des
        normes relatives au fonctionnement d'un réseau au niveau des couches 1 et 2 du modèle OSI, c'est à dire
        les couches liaison et données. Le modèle va plus loin en décomposant la couche liaison en 3 parties :
    </p>
    <ul>
        <li>
            La sous-couche LLC (Logical Link Control ou contrôle de la liaison logique) qui gère un contrôle
            d'erreur
            et un contrôle de flux au niveau matériel
        </li>
        <li>
            La sous couche de pontage 802.1 (VLAN, spanning tree, etc.)
        </li>
        <li>
            La sous-couche MAC (Media Access Control, ou contrôle d'accès au support)
        </li>
    </ul>
</div>
<div class="cours">
    <h3>Topologie de réseaux</h3>
    <p>
        La topologie d'un réseau est la description de la structuration des structures physiques qui le
        sous-tendent.
        Dans le domaine des réseaux cablés physiquement, on distingue habituellement 3 types de topologie :
        en anneau, en bus ou en étoile.
    </p>
    <h4>Topologie en bus</h4>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" src="ressources/reseau/assets/img/bus.png">
            <figcaption class="figure-caption"> Topologie en bus </figcaption>
        </figure>
    </div>
    <p>
        Dans une topologie en bus, l'ensemble des équipements est relié par un bus qui transporte les messages.
        Lorsqu'un équipement envoie un message sur le réseau, tous les équipements du réseau vont écouter le
        message. Seul l'équipement concerné en tiendra compte. Ce système a été l'un des premiers à être mis en
        place, à partir de câbles coaxiaux. Cependant, il devient peu efficace quand le nombre de machine augmente.
        En effet, l'ensemble des équipement partage le bus, et le temps disponible par équipement pour communiquer
        est inversement proportionnel aux nombre d'équipements. Par ailleurs, il peut y avoir des collisions.
    </p>
    <h4>Topologie en anneau</h4>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/reseau/assets/img/token-ring.png">
            <figcaption class="figure-caption"> Topologie token ring (anneau à jeton) </figcaption>
        </figure>
    </div>
    <p>
        La topologie en anneau à jeton représente une amélioration de la technique du bus. Un "jeton" circule sur le
        réseau. Un équipement qui souhaite émettre une communication va "capturer" le jeton puis émettre son
        message. Ensuite, il remettra le jeton en circulation. Cette technique a l'avantage d'éviter les collisions
        de paquet et permet une communication plus facile quand le nombre d'équipement augmente.
    </p>
    <h4>Topologie en étoile</h4>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" src="ressources/reseau/assets/img/etoile.png">
            <figcaption class="figure-caption"> Topologie en étoile </figcaption>
        </figure>
    </div>
    <p>
        La topologie en étoile a dans un premier temps juste été une amélioration physique de la topologie en bus ou
        de la topologie en anneau. Elle est apparue grâce aux connecteurs RJ45. L'ensemble des machines était
        connecté à un <b>hub</b> (concentrateur en
        français, mais le terme anglais est presque toujours utilisé). Au lieu de circuler sur le bus ou sur
        l'anneau au niveau physique, les paquets circulent à l'intérieur du concentrateur. De cette façon, intégrer
        une machine au réseau devient assez simple, et on peut facilement poser des prises réseau dans un batiment.
    </p>
    <p>
        Mais la véritable amélioration vient avec l'apparition des <b>switchs</b> (répartiteur en français, mais là
        aussi, le terme anglais est presque toujours utilisé). Un switch est un équipement réseau qui examine le
        contenu des trames et qui ne va envoyer une trame physique qu'à la machine à laquelle elle est destinée.
        Dans ces conditions, plusieurs machines peuvent avoir en même temps des communications sans qu'il y ait de
        collisions de paquets, et la qualité du réseau devient beaucoup moins dépendante du nombre d'équipements sur
        le réseau. Au niveau physique, le réseau est en étoile, et au niveau logique aussi. On parle alors de réseau
        commuté.
    </p>
</div>
<div class="cours">
    <h3> Principe des trames Ethernet </h3>
    <h4>
        Adresses MAC
    </h4>
    <p>
        Au niveau matériel, chaque périphérique réseau (carte pour réseau filaire ou wifi, adaptateur réseau USB,
        etc.) est identifié par une adresse unique qui se nomme <b>adresse MAC</b>. Cette adresse est stockée sur 6
        octets et elle est généralement représentée sous forme d'une notation ou chaque octet est noté en
        héxadécimal, et séparé par deux points (quelquefois, on trouve un tiret à la place de ces deux points). Les
        3 premiers octets représentent le constructeur du matériel, et les 3 octets suivants représentent
        l'identifiant unique du matériel chez le constructeur.
    </p>
    <div class="exemple">
        <h6> Exemple </h6>
        <div class="d-flex">
            <figure class="figure mx-auto">
                <img class="figure-img img-fluid img-rounded img-thumbnail"
                    src="ressources/reseau/assets/img/MAC-address.png">
                <figcaption class="figure-caption"> Adresse MAC </figcaption>
            </figure>
        </div>
    </div>
    <p>
        Il existe un protocole (ARP, pour Adress Resolution Protocol) qui permet sur un réseau local d'associer les
        adresses MAC aux adresses IP des machines. Les informations sont stockées localement sur les machines dans
        des tables ARP.
    </p>
    <h4>
        Contenu d'une trame ETHERNET
    </h4>
    <p>
        La trame ethernet est composée :
    </p>
    <ul>
        <li>
            D'un entête qui contient l'adresse MAC de la machine source et l'adresse MAC de la machine de
            destination. Cette dernière est obtenue à partir de l'adresse IP grace aux tables ARP. Après ces 12
            octets, il y a 2 octets qui indique le type de protocole.
        </li>
        <li>
            Ensuite, il y a le contenu de la trame ethernet. Ce contenu peut aller jusqu'à 1500 octets en situation
            habituelle.
        </li>
        <li>
            Enfin, il y a une somme de contrôle de 4 octets qui vérifie les erreurs potentielles de transmission.
        </li>
    </ul>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/reseau/assets/img/Ethernet_Type_II_Frame_format.svg">
            <figcaption class="figure-caption"> Trame Ethernet </figcaption>
        </figure>
    </div>
    <p>
        Dans le cadre d'une communication TCP-IP, le datagramme IP est contenu à l'intérieur de la trame ETHERNET.
    </p>
    <h4>
        Extensions
    </h4>
    <p>
        Un certains nombres d'évolutions ont eu lieu au niveau du protocole ETHERNET pour permettre l'ajout de
        nouvelles fonctionnalités. On peut citer en particulier :
    </p>
    <ul>
        <li>
            Les VLAN (Virtual LAN, réseaux locaux virtuels) qui permettent de fabriquer des réseaux locaux virtuels
            étanches sur un même réseau physique, afin d'isoler des machines dans un même réseau.
        </li>
        <li>
            La QOS (Quality Of Service, qualité de service) qui permet de privilégier certaines transmissions par
            rapport à d'autre en cas de congestion du traffic.
        </li>
        <li>
            Le contrôle d'identité des stations et/ou utilisateurs (norme 802.1X) qui permet en particulier de
            sécuriser les réseaux avec des machines nomades.
        </li>
    </ul>
</div>
<div class="cours">
    <h3> Conclusion</h3>
    <div class="retenir">
        <h6>À retenir</h6>
        <ul>
            <li>
                Au niveau physique, les communications d'un réseau local reposent souvent sur le protocole ethernet.
            </li>
            <li>
                Le protocole ethernet peut reposer sur énormément de médium physique, ce qui le rend versatile.
            </li>
            <li>
                Une trame ethernet contient les adresses matérielles (adresse MAC) de destination et de source,
                ainsi que le datagramme IP
            </li>
            <li>
                La relation entre les adresses IP et les adresses MAC sur un réseau local est obtenu grâce au
                protocole ARP.
            </li>
        </ul>
    </div>
</div>
{% endblock %}