{% extends 'cours.twig.html' %}

{% block cours %}
<bloc-cours>
    <h2>TP sur machine sur les réseaux</h2>
    <p>
        En pratique, comment travaille t'on avec les commandes de base sur les machines
        pour connaître l'environnement réseau et travailler avec ? Quels sont les commandes
        de base et comment intérpréter leur sortie ? Voici un TP pour
        savoir quelles sont les principaux outils.
    </p>
</bloc-cours>
<bloc-remarque>
    <p>
        Ce TP est destiné à être effectué sur des machines sous Linux, avec un noyau récent.
    </p>
</bloc-remarque>
<bloc-todo>
    <p>
        Vous ferez ce TP en notant sur papier libre ou sur un document bureautique
        les différentes réponses au fur et à mesure du TP.
    </p>
</bloc-todo>
<bloc-cours>
    <h3>Connaître ses paramètres</h3>
    <p>
        Dans un premier temps, nous allons nous intéresser aux paramètres locaux de la machine. Pour les machines linux,
        il existe
        une commande qui donne la plupart des informations : la commande <code>ip</code>. Cette commande a plusieurs
        cibles, nous allons en regarder 3
    </p>
    <p>
        Tout d'abord, lorsque l'on souhaite connaître ses informations sur les périphériques réseau, la commande à taper 
        est <code>ip addr</code>. On peut utiliser la version abrégée <code>ip a</code>. Voici une sortie standard 
        (<em>N.B. : dans tout le TP, le signe $ représente l'invite de commande. Il n'est pas à taper.</em>):
    </p>
    <pre><code class="shell">$ ip addr
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
        valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host 
        valid_lft forever preferred_lft forever
2: ens33: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    link/ether 00:0c:29:d7:9a:75 brd ff:ff:ff:ff:ff:ff
    inet 192.168.40.150/24 brd 192.168.40.255 scope global dynamic noprefixroute ens33
        valid_lft 1246sec preferred_lft 1246sec
    inet6 fe80::9463:e6ad:afb1:2c58/64 scope link noprefixroute 
        valid_lft forever preferred_lft forever
</code></pre>
    <p>
        Cette sortie donne un tas d'information. Elle indique qu'il y a deux périphériques réseaux, nommés lo et ens33. 
        Elle donne pour chacune l'ensemble des informations réseaux. 
        Notez bien que :
    </p>
    <ul>
        <li>lo est l'interface réseau loopback. Ce n'est pas une carte réseau physique, c'est une interface virtuelle qui 
            permet de toujours avoir un réseau, y compris si l'on est déconnecté. Certains programmes comptent dessus pour 
            fonctionner.
        </li>
        <li>
            Inversement, ens33 est une interface physique de type ethernet.
        </li>
    </ul>
    <p>
        On ne va pas analyser la première ligne de chaque interface, qui doonne des informations variées. La seconde ligne donne
        elle le type de lien (loopback pour l'interface loopback, et ether pour la carte réseau ethernet). Dans le cas de la carte
        réseau ethernet, en plus du lie, on a aussi son adresse matérielle (l'adresse MAC) qui dans cet exemple est 
        <code>00:0c:29:d7:9a:75</code>.
    </p>
</bloc-cours>
<bloc-todo>
    <p>Lancer la commande <code>ip addr</code> et relevez sur votre machine :</p>
    <ol>
        <li>le nombre, le nom et le type de chaque interface réseau de votre machine</li>
        <li>l'adresse MAC (adresse matérielle) de chaque carte physique</li>
        <li>la première partie de l'adresse MAC permet d'identifier le fabricant du matériel. Rendez vous sur le site
            <a href="https://macaddress.io/" target="_blank">https://macaddress.io/</a> et au moyen de votre adresse MAC,
            trouvez quel est le fabricant de la carte réseau. Notez le.
        </li>
    </ol>
</bloc-todo>
<bloc-cours>
    <p>
        La sortie de la commande <code>ip addr</code> contient encore deux blocs :
    </p>
    <ul>
        <li>Le bloc <code>inet</code> qui contient les informations sur les adresses IPv4</li>
        <li>Le bloc <code>inet6</code> qui contient les informations sur les adresse IPv6</li>
    </ul>
    <p>
        Nous nous intéressons ici uniquement aux IPv4, l'IPv6 n'étant pas au programme de ce cours.
    </p>
    <p>
        Juste après le mot clef <code>inet</code>, on trouve l'adresse IPv4 de la machine, en notation CIDR.
        Dans l'exemple ci-dessus, l'adresse est <code>192.168.40.150/24</code>.
    </p>
</bloc-cours>
<bloc-todo>
    <ol>
        <li>
            Relevez l'adresse IPv4 en notation CIDR de vos interfaces physiques (pour le loopback, sous linux, on a toujours 127.0.0.1/8).
        </li>
        <li>
            Calculez l'adresse du réseau, l'adresse de broadcast qui sont respectivement la première et la dernière adresse de la plage.
        </li>
    </ol>
</bloc-todo>
<bloc-cours>
    <p>
        La commande <code>ip addr</code> accepte des options. Il y en a quelques une qui peuvent nous intéresser :
    </p>
    <ul>
        <li> L'option <code>-f inet</code> n'affiche que les parties concernant l'adresse de la famille inet, c'est à dire
        IPv4. Elle peut aussi être abrégé en <code>-4</code>.</li>
        <li> l'option <code>-f link</code> donnera les informations sur le lien (type de lien, adresse matérielle, etc.). 
        On ne peut choisir qu'une famille (inet ou link)</li>
        <li> l'option <code>brief</code> va afficher une synthèse des parties les plus importantes.</li>
        <li> l'option <code>-c</code> va afficher la sortie en couleur sur les terminaux qui le supportent.</li>
    </ul> 
</bloc-cours>
<bloc-todo>
    <ul>
        <li>Exécutez sur votre machine la commande <code>ip -c addr</code> et observez si la sortie est en couleur </li>
        <li>Pour avoir des rapports concis, éxécutez <code>ip -c -4 -brief addr</code> 
            (omettez le -c si votre terminal ne supporte pas la couleur). Notez le résultat</li>
        <li>Pour avoir des rapports concis sur le lien, éxécutez <code>ip -c -f link -brief addr</code> 
            (omettez le -c si votre terminal ne supporte pas la couleur). Notez le résultat.</li>    
    </ul>
</bloc-todo>
<bloc-cours>
    <h3> IP publique, IP privée.</h3>
    <p>
        L'adresse IP que vous avez trouvé, si vous êtes derrière une box, ou sur un réseau d'établissement, est sans doute une adresse
        IP privée, comme définie dans la <a href="https://tools.ietf.org/html/rfc1918" target="_blank">RFC 1918 (Adress Allocation for private Internets)</a>.
        Pour accéder à internet, vous allez envoyer vos paquets à un routeur qui va utiliser le procédé de transalation d'adresse réseau 
        (NAT,Netwrk Adress Translation) et enverra les paquets avec <b>son</b> adresse IP publique.
    </p>
</bloc-cours>
<bloc-todo>
    <ul>
        <li>
            Rendez vous sur le site <a href="https://www.whatismyip.com/" target="_blank">https://www.whatismyip.com/</a>. 
            Ce site va vous présenter votre adresse IP publique ainsi que votre localisation approximative. Notez cette adresse.
        </li>
        <li>
            Comparez cette adresse publique à l'adresse IP de votre carte physique notée précedemment.
        </li>
    </ul>
</bloc-todo>
<bloc-cours>
    <h3>Mais par où passent les paquets ?</h3>
    <p>
        Nous avons obtenu notre adresse IPv4 précedemment. Sa forme CIDR nous indique l'adresse du réseau local et 
        donc les machines que nous contactons directement. Pour les autres réseaux, il nous faut passer par une passerelle (un routeur).
        Le plus courant est d'avoir une seule passerelle pour tous les réseaux autres que le réseau local.
    </p> 
    <p>
        Pour obtenir la table de routage de la machine sur laquelle on se trouve, il suffit d'utiliser la commande <code>ip route</code>. 
        Voici la sortie sur la machine exemple :
    </p>
    <pre><code class="shell">$ ip route
default via 192.168.40.2 dev ens33 proto dhcp metric 100
192.168.40.0/24 dev ens33 proto kernel scope link src 192.168.40.150 metric 100</code></pre>
    <p>
        La première ligne indique la passerelle par défaut, utilisée lorsque l'on a pas de moyen connue pour accéder à un réseau. Ici, 
        la passerelle a pour IP <code>192.168.40.2</code> et on y accéde par l'interface physique <code>ens33</code>.
    </p>
    <p>
        La seconde ligne est une ligne de routage. Elle indique que pour accéder aux machines du réseau <code>192.168.40.0/24</code>,
        on envoie directement les paquets sur l'interface <code>ens33</code>, avec comme IP source celle de la machine, 
        <code>192.168.40.150</code>.
    </p>
</bloc-cours>
<bloc-todo>
    <p>Éxécutez sur votre machine la commande <code>ip route</code>, et notez l'adresse de votre passerelle par défaut, l'adresse
    du réseau local et l'interface utilisée.</p>
</bloc-todo>
<bloc-cours>
    <h3>Les adresses matérielles</h3>
    <p>
        Enfin, la commande <code>ip</code> permet aussi de connaître les informations sur les adresses matérielles des machines 
        avec lesquelles nous communiquons. Il suffit d'utiliser la commande <code>ip neigh</code> (neigh est l'abbréviation
        de neighbour, qui signifie voisin en anglais). Voici la sortie sur la machine utilisée en exemple :
    </p>
    <pre><code class="shell">$ ip neigh
192.168.40.2 dev ens33 lladdr 00:50:56:f6:0c:8f REACHABLE
192.168.40.254 dev ens33 lladdr 00:50:56:e5:54:00 STALE</code></pre>
    <p>
        Sur chaque ligne, on voit une adresse IP, l'interface réseau qui permet de correspondre avec elle et l'adresse MAC 
        qui correspond à cette adresse IP.
    </p>
    <p>
        Une autre commande permet de trouver ces informations : la commande <code>arp</code> (les liens MAC/IP sont stockés 
        dans ce qui s'appelle la table ARP). Voici un exemple de sortie de cette commande sur la machine exemple :
    </p>
    <pre><code class="shell">$ arp
Adresse                  TypeMap AdresseMat          Indicateurs           Iface
_gateway                 ether   00:50:56:f6:0c:8f   C                     ens33
192.168.40.254           ether   00:50:56:e5:54:00   C                     ens33</code></pre>
    <p> 
        On voit que le résultat de la sortie des deux commandes est assez similaire.
    </p>
</bloc-cours>
<bloc-todo>
    <ol>
        <li>Éxécutez la commande <code>ip neigh</code> sur votre machine. Notez les correspondances MAC/IP.</li>
        <li>Éxécutez la commande <code>arp</code> sur votre machine.</li>
        <li>La table ARP grandit au fur et à mesure que de nouvelles adresses sont rencontrées. Vous allez demander 
            à l'un de vos voisins son adresse IP. Éxécutez dans le terminal la commande <code>ping &lt;IP&gt;</code>,
            ou vous remplacez <code>&lt;IP&gt;</code> par l'adresse IP de votre voisin. 
            (<em>N.B: la commande ping part en boucle infinie. Pour l'interrompre, appuyez simultanément sur ctrl+c</em>)
        </li>
        <li>Relancer la commande <code>ip neigh</code>. Vous devez constater que la correspondance IP/MAC associée
        à la machine de votre voisin est maintenant dans la table ARP.</li>
    </ol>
</bloc-todo>
<bloc-retenir>
    <ul>
        <li>La commande <code>ip</code> permet d'avoir des informations sur l'ensemble des paramètres réseaux</li>
        <li><code>ip addr</code> donne les informations sur le matériel (adresses MAC) et les adresses IP</li>
        <li><code>ip -c -4 -brief addr </code> donne uniquement les informations IPv4 en version simplifiée (et colorisée)</li>
        <li><code>ip -c -f link -brief addr </code> donne uniquement les informations matérielles en version simplifiée (et colorisée)</li>
        <li><code>ip route</code> donne des informations sur le routage.</li>
        <li><code>ip neigh</code> ou <code>arp</code> donne des informations sur la table ARP, c'est à dire les 
        correspondances entre IP et MAC.</li>
        <li>la table ARP s'enrichit au fur et à mesure de la découverte du réseau.</li>
    </ul>
</bloc-retenir>
{% endblock %}