{% set has_flashcards = true %}
{% extends 'cours.twig.html' %}
{% block cours %}

<div class="cours">
    <h2> Révisions sur les commandes liées au réseau</h2>
    <div class="multiCardBox">
        <div class="card">
            <div class="front">

                <p>Quelle commande permet d'avoir des informations 
                    sur toute la partie réseau TCP/IP d'une machine ?
                </p>
            </div>
            <div class="back big">
                <p>La commande <code>ip</code></p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>Quelle commande permet d'avoir l'adresse MAC et l'adresse IP ?</p>
            </div>
            <div class="back">
                <p>La commande <code>ip addr</code></p>
                <p>(ou <code>ip a</code>)</p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>Quelle option de la commande <code>ip</code> permet d'avoir un 
                listing abrégé des adresses IP ?</p>
            </div>
            <div class="back">
                <p><code>ip -brief -4 -c addr</code></p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>Quelle option de la commande <code>ip</code> permet d'avoir un 
                    listing abrégé des interfaces ?</p>
            </div>
            <div class="back">
                <p><code>ip -brief -f link -c addr</code></p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>
                    Quelle commande permet d'avoir accès aux informations de routage ?
                </p>
            </div>
            <div class="back big">
                <p>
                    <code>ip route</code>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>
                    Quelle commande utilisant <code>ip</code> permet d'avoir 
                    des informations sur la table arp ?
                </p>
            </div>
            <div class="back">
                <p>
                    <code>ip neigh</code> 
                </p>
                <p>
                    (neigh est l'abbréviation de neighbour, qui veut dire voisin en anglais)
                </p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>
                    Quelle commande autre que <code>ip</code> permet d'avoir la table arp ?
                </p>
            </div>
            <div class="back big">
                <p>
                    <code>arp</code>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <p>
                    Quelle commande permet de tester le lien avec une machine distante ?
                </p>
            </div>
            <div class="back">
                <p>
                    La commande <code>ping</code>
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}